<div class="container">
  <div class="row github-link-row">
    <div class="col l2 m3 s4">
      <a href="https://github.com/Saeed-Pooyanfar/ng-persian-datepicker">
        <img src="assets/images/github.svg" loading="lazy" alt="GitHub" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col l6 m12 s12">
      <div class="check-boxes-container">
        <p>Theme</p>
        <label>
          <input type="radio"
                 name="theme"
                 class="with-gap"
                 [value]="'default'"
                 [(ngModel)]="uiTheme" />
          <span>Default</span>
        </label>
        <label>
          <input type="radio"
                 name="theme"
                 class="with-gap"
                 [value]="'blue'"
                 [(ngModel)]="uiTheme" />
          <span>Blue</span>
        </label>
        <label>
          <input type="radio"
                 name="theme"
                 class="with-gap"
                 [value]="'gray'"
                 [(ngModel)]="uiTheme" />
          <span>Gray</span>
        </label>
        <label>
          <input type="radio"
                 name="theme"
                 class="with-gap"
                 [value]="'dark'"
                 [(ngModel)]="uiTheme" />
          <span>Dark</span>
        </label>
        <label>
          <input type="radio"
                 name="theme"
                 class="with-gap"
                 [value]="'black'"
                 [(ngModel)]="uiTheme" />
          <span>Black</span>
        </label>
      </div>
      <div class="check-boxes-container">
        <p>View</p>
        <label>
          <input type="checkbox"
                 [checked]="true"
                 [disabled]="true" />
          <span>Day</span>
        </label>
        <label>
          <input type="checkbox"
                 [checked]="uiMonthView"
                 [(ngModel)]="uiMonthView" />
          <span>Month</span>
        </label>
        <label>
          <input type="checkbox"
                 [checked]="uiYearView"
                 [(ngModel)]="uiYearView" />
          <span>Year</span>
        </label>
      </div>
      <div class="switch">
        <p>Hide after select date</p>
        <label>
          <input type="checkbox"
                 [(ngModel)]="uiHideAfterSelectDate" />
          <span class="lever"></span>
        </label>
      </div>
      <div class="switch">
        <p>Hide on outside click</p>
        <label>
          <input type="checkbox"
                 [(ngModel)]="uiHideOnOutsideClick" />
          <span class="lever"></span>
        </label>
      </div>
      <div class="switch">
        <p>Time</p>
        <label>
          <input type="checkbox"
                 [(ngModel)]="timeEnable" />
          <span class="lever"></span>
        </label>
      </div>
      <div class="switch">
        <p>Show second</p>
        <label>
          <input type="checkbox"
                 [disabled]="!timeEnable"
                 [(ngModel)]="timeShowSecond" />
          <span class="lever"></span>
        </label>
      </div>
      <div class="switch">
        <p>Meridian</p>
        <label>
          <input type="checkbox"
                 [disabled]="!timeEnable"
                 [(ngModel)]="timeMeridian" />
          <span class="lever"></span>
        </label>
      </div>
      <div class="switch">
        <p>Today button</p>
        <label>
          <input type="checkbox"
                 [(ngModel)]="uiTodayBtnEnable" />
          <span class="lever"></span>
        </label>
      </div>
    </div>
    <div class="col offset-l2 l4 offset-m3 m6 offset-s2 s8">
      <form [formGroup]="form">
        <ng-persian-datepicker (dateOnSelect)="onSelect($event)"
                               [(uiIsVisible)]="uiIsVisible"
                               [uiTheme]="uiTheme"
                               [uiYearView]="uiYearView"
                               [uiMonthView]="uiMonthView"
                               [uiHideAfterSelectDate]="uiHideAfterSelectDate"
                               [uiHideOnOutsideClick]="uiHideOnOutsideClick"
                               [uiTodayBtnEnable]="uiTodayBtnEnable"
                               [timeEnable]="timeEnable"
                               [timeShowSecond]="timeShowSecond"
                               [timeMeridian]="timeMeridian">
          <div class="input-field">
            <input type="text" formControlName="dateValue" aria-label="Datepicker Input" />
          </div>
        </ng-persian-datepicker>
      </form>
    </div>
  </div>
</div>
