@use "assets/css/iran-sans-web.font.css" as *;
@use "assets/css/materialize.min.css" as *;

:root {
  --input-height: 46px;
  --input-vertical-margin: 16px;
}

body {
  font-family: 'IranSansWebRegular', serif;
}

input {
  font-family: inherit;
  &[type="text"] {
    &:not(.browser-default) {
      box-sizing: border-box;
      margin: 0;
      height: var(--input-height);
    }
  }
}

.input-field {
  margin-top: var(--input-vertical-margin);
  margin-bottom: var(--input-vertical-margin);
}

.datepicker-wrapper {
  position: relative;

  ng-persian-datepicker .datepicker-outer-container {
    position: absolute;
    z-index: 1;
    top: calc(var(--input-height) + var(--input-vertical-margin));
    right: 0;
    left: 0;
  }
}
