@import "assets/css/iran-sans-web.font.css";
@import "assets/css/materialize.min.css";

body {
  font-family: 'IranSansWebRegular', serif;
}

input {
  font-family: inherit;
  &[type="text"] {
    margin-bottom: 0!important;
  }
}
